extends ../../templates/_template

block header
  p some header's components for business' template is here

block content
  p some content's components for business' template is here

block footer
  p some footer's components for business' template is here