extends ../../templates/_template

block header
  p some header's components for modern's template is here

block content
  p some content's components for modern's template is here

block footer
  p some footer's components for modern's template is here